@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.3rem;
}
html::-webkit-scrollbar-track {
  background: #ffffff;
}
html::-webkit-scrollbar-thumb {
  background: #a44891;
}

.btn-wsp {
  position: fixed;
  bottom: 1.3rem;
  right: 1.3rem;
  z-index: 100;
}
.btn-wsp img {
  height: 6rem;
  width: 6rem;
}
.btn-wsp img:hover {
  transform: scale(1.1);
}

body {
  font-family: "Poppins", sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4000;
  background-color: #ffffff;
  color: #a44891;
  border-bottom: 1px solid #e773af;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  z-index: 10000;
}
.menu__container .logo {
  height: 11rem;
  width: 20rem;
}
.menu__container .logos-redes-sociales {
  font-size: 2.5rem;
  padding: 0 0.2rem;
}
.menu__container .logos-redes-sociales a {
  color: #a44891;
  margin: 0 -0.1rem;
}
.menu__container .logos-redes-sociales a:hover {
  transform: scale(1.05);
}
.menu__container .logos-redes-sociales a img {
  height: 2rem;
  width: 2rem;
}
.menu__container .logos-redes-sociales a img:hover {
  transform: scale(1.05);
}

.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  font-size: 1.8rem;
  z-index: 10000;
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0); /* con este se esconde */
  --transform: rotate(0deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* con este mostramos el submenu*/
  --transform: rotate(90deg);
}

.menu__link {
  color: #a44891;
  text-decoration: none;
  padding: 0 20px 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__link:hover {
  transform: scale(1.05);
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 1px;
  font-size: 2.5rem;
}

.menu__nesting {
  list-style: none;
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip); /* escondemos el submenu, ul dentro de li */
  position: absolute;
  right: 0;
  bottom: -2rem;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(100%);
  background: #ffffff;
}

.menu__link--inside {
  padding: 13px 70px 13px 20px;
  font-size: 1.7rem;
}

.menu__link--inside:hover {
  background-color: #a44891;
  color: #ffffff;
}

.menu__container .menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  font-size: 4rem;
}

.home {
  padding: 0 6%;
  margin-top: 9rem;
  background: #F8F2FC;
}
.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: 0 63% !important;
  padding: 0;
  display: flex;
  align-items: center;
}
.home .slide .content {
  width: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .slide .content h3 {
  font-size: 3.5rem;
  color: #ffffff;
  display: block;
  font-weight: 500;
  font-weight: 600;
}
.home .slide .content p {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.btn {
  padding: 2rem 4rem 2rem 4rem;
  background: rgba(255, 6, 205, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-size: 1.7rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  font-weight: 500;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.btn:hover {
  background: rgb(67, 13, 56);
  border: 1px solid #ffffff;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: rgb(108, 108, 108);
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #a44891;
}

.informacion {
  padding: 0 4%;
  margin: 3rem 0;
}
.informacion .container-informacion {
  display: flex;
  justify-content: space-between;
}
.informacion .container-informacion .informacion-item {
  border: 1px solid #a44891;
  width: 30%;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  border-radius: 10% 1% 10% 1%;
}
.informacion .container-informacion .informacion-item .bx {
  color: #a44891;
  font-size: 4rem;
}
.informacion .container-informacion .informacion-item h3 {
  margin-top: 0.8rem;
  font-size: 2.1rem;
  color: #a44891;
  font-family: "Emilys Candy", cursive;
  letter-spacing: 1px;
}
.informacion .container-informacion .informacion-item p {
  width: 100%;
  margin-top: 0.6rem;
  font-size: 1.5rem;
  color: #444444;
  line-height: 2rem;
}

.titulos {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
}
.titulos .contenedor-titulos {
  text-align: center;
}
.titulos .contenedor-titulos .texto h2 {
  margin: 2rem 0 0.5rem 0;
  color: #a44891;
  font-size: 3rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.titulos .contenedor-titulos i {
  font-size: 4rem;
  color: #a44891;
}
.titulos .container-nosotros {
  padding: 0 6%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.titulos .container-nosotros img {
  height: 10rem;
  width: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.titulos .container-nosotros .textos-nosotros {
  width: 50%;
  background: #F6F3EF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titulos .container-nosotros .textos-nosotros p {
  width: 80%;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  color: #444444;
}
.titulos .container-nosotros .imagen-nosotros {
  width: 50%;
}
.titulos .container-nosotros .imagen-nosotros img {
  height: 60rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.titulos .mision {
  background: #F6F3EF;
  margin: 0 6%;
}
.titulos .container-mision-vision {
  margin-top: 2rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.titulos .container-mision-vision .item-mision-vision {
  text-align: center;
  width: 40%;
  padding: 0 2rem 1rem 2rem;
  flex-wrap: wrap;
}
.titulos .container-mision-vision .item-mision-vision h4 {
  font-size: 2.2rem;
  color: #e773af;
  font-weight: 500;
}
.titulos .container-mision-vision .item-mision-vision p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 0.5rem;
  color: #2d5a38;
}

.titulos2 {
  padding-top: 0.8rem;
}
.titulos2 .contenedor-titulos {
  text-align: center;
}
.titulos2 .contenedor-titulos .texto h2 {
  margin: 2rem 0 0.5rem 0;
  color: #a44891;
  font-size: 3rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.titulos2 .contenedor-titulos i {
  font-size: 4rem;
  color: #a44891;
}

.swiper2 {
  padding: 0 3.5rem 5rem 3.5rem;
}
.swiper2 .swiper-wrapper {
  margin-top: 2.2rem;
}
.swiper2 .swiper-wrapper .img__item .gg {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .img__item .contenido-img-item {
  margin-top: 2rem;
  text-align: center;
}
.swiper-slide .img__item .contenido-img-item h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #a44891;
  font-weight: 500;
}
.swiper-slide .img__item .contenido-img-item span {
  color: #e773af;
  font-size: 2rem;
  font-weight: 500;
}
.swiper-slide .container__item__hover {
  padding: 0 6%;
  position: absolute;
  background: rgba(21, 21, 21, 0.5490196078);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8.5rem;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.swiper-slide .container__item__hover a {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

html .img__item:hover .container__item__hover {
  transform: translateX(0%);
}

.swiper-slide img {
  display: block;
  width: 35rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 0.5rem;
}

.boton-comprar {
  text-align: center;
  margin-top: 2.5rem;
}
.boton-comprar button:hover {
  transform: scale(1.05);
}
.boton-comprar button a {
  background: #222222;
  color: #ffffff;
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.titulos3 {
  padding-top: 2.7rem;
}
.titulos3 .fondo-categoria {
  background: #F8F2FC;
  padding: 1rem 0;
}
.titulos3 .contenedor-titulos {
  text-align: center;
}
.titulos3 .contenedor-titulos .texto h2 {
  margin: 2rem 0 0.5rem 0;
  color: #a44891;
  font-size: 3rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.titulos3 .contenedor-titulos i {
  font-size: 4rem;
  color: #a44891;
}
.titulos3 .categoria {
  padding: 0 6%;
}
.titulos3 .categoria .contenedor-categoria1 {
  display: flex;
  justify-content: space-between;
}
.titulos3 .categoria .item-categoria {
  position: relative;
  margin-bottom: 2.5rem;
}
.titulos3 .categoria .item-categoria img {
  height: 25rem;
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  border: 2px solid rgba(192, 16, 157, 0.2);
}
.titulos3 .categoria .item-categoria .img {
  height: 22rem;
  width: 37rem;
}
.titulos3 .categoria .item-categoria .texto-categoria {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.titulos3 .categoria .item-categoria .texto-categoria:hover {
  background: #a44891;
}
.titulos3 .categoria .item-categoria .texto-categoria h3 {
  color: #ffffff;
  background: rgba(115, 38, 107, 0.5);
  padding: 1.8rem 3rem;
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  border: 1px solid #ffffff;
}

.titulos4 .contenedor-titulos {
  text-align: center;
}
.titulos4 .contenedor-titulos .texto h2 {
  margin: 2rem 0 0.5rem 0;
  color: #a44891;
  font-size: 3rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.titulos4 .contenedor-titulos i {
  font-size: 4rem;
  color: #a44891;
}

.titulos4 .link-instagram {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  color: #e773af;
  margin: 0.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.titulos4 .link-instagram:hover {
  transform: scale(1.05);
}
.titulos4 .contenedor-siguenos {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.titulos4 .contenedor-siguenos .imagenes-siguenos {
  margin: 0 auto;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.titulos4 .contenedor-siguenos .imagenes-siguenos:hover {
  transform: scale(1.01);
}
.titulos4 .contenedor-siguenos .imagenes-siguenos .projects__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}
.titulos4 .contenedor-siguenos .imagenes-siguenos img {
  height: 40rem;
  width: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3rem;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; /* centrar imagen*/
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 10000;
  display: none;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem; /*imagen*/
  transform: scale(0);
  transition: transform 0.3s 0.2s;
  height: 55rem;
  width: 45rem;
  display: none;
  margin-bottom: 10%;
}

.showImage {
  transform: scale(0.8); /* lo que va a ampliar tamaño*/
}

.footer {
  padding: 2rem 6% 0 6%;
  width: 100%;
  background: #F8F2FC;
  border-top: 1px solid #e773af;
}
.footer .container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
}
.footer .container-footer hr {
  border: 1px solid #a44891;
  width: 100%;
  margin: 0.5rem 0 1rem;
}
.footer .container-footer .logo {
  width: 18%;
  margin-top: 0.2rem;
  margin-bottom: 2.5rem;
  align-items: center;
}
.footer .container-footer .logo h3 {
  font-size: 2.5rem;
  color: #a44891;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .container-footer .logo p {
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: 1.5rem;
  line-height: 3rem;
}
.footer .container-footer .links {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.footer .container-footer .links h3 {
  font-size: 2.5rem;
  color: #a44891;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .container-footer .links a {
  color: #333333;
  margin-bottom: 1.5rem;
}
.footer .container-footer .links a:hover {
  color: #a44891;
}
.footer .container-footer .horarios {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.footer .container-footer .horarios h3 {
  font-size: 2.5rem;
  color: #a44891;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .container-footer .horarios span {
  color: #333333;
  margin-bottom: 1.5rem;
}
.footer .container-footer .contactanos {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.footer .container-footer .contactanos h3 {
  font-size: 2.5rem;
  color: #a44891;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .container-footer .contactanos a {
  color: #333333;
  margin-bottom: 1.5rem;
}
.footer .container-footer .contactanos a:hover {
  color: #a44891;
}

body .copy {
  padding: 2rem 0;
  text-align: center;
  background: #f2eff5;
  width: 100%;
  color: #444444;
}
body .copy span {
  font-size: 1.7rem;
}
body .copy span .span {
  color: #a44891;
}

.contactos {
  padding: 12rem 0 0 0;
}
.contactos .contenedor-titulos {
  text-align: center;
}
.contactos .contenedor-titulos .texto h2 {
  margin: 2rem 0 0.5rem 0;
  color: #a44891;
  font-size: 3rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}
.contactos .datos-contactos {
  margin-top: 1.5rem;
  padding: 5rem 6% 2rem 6%;
  display: flex;
  justify-content: space-around;
  background: #F8F2FC;
}
.contactos .datos-contactos .horarios {
  display: flex;
  flex-direction: column;
}
.contactos .datos-contactos .horarios h3 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  color: #a44891;
}
.contactos .datos-contactos .horarios span {
  margin-top: 0.5rem;
  font-size: 1.9rem;
  color: #a44891;
}
.contactos .datos-contactos .contacto {
  display: flex;
  flex-direction: column;
}
.contactos .datos-contactos .contacto h3 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  color: #a44891;
}
.contactos .datos-contactos .contacto span {
  margin-top: 0.5rem;
  font-size: 1.9rem;
  color: #a44891;
}
.contactos .dudas .texto-dudas {
  padding: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #F8F2FC;
}
.contactos .dudas .texto-dudas h3 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  color: #a44891;
}
.contactos .dudas .texto-dudas span {
  margin-top: 0.5rem;
  font-size: 1.9rem;
  color: #a44891;
  width: 65%;
  margin: 0 auto;
}
.contactos .dudas .texto-dudas .iconos-redes {
  padding: 1.5rem 0 0 0;
}
.contactos .dudas .texto-dudas .iconos-redes i {
  font-size: 3.5rem;
  margin: 0 0.5rem;
}
.contactos .dudas .texto-dudas .iconos-redes .bxl-facebook {
  color: #255ac4;
}
.contactos .dudas .texto-dudas .iconos-redes .bxl-instagram {
  color: rgb(139, 23, 23);
}
.contactos .dudas .texto-dudas .iconos-redes .bxl-whatsapp {
  color: #219e31;
}

.titulos-catalogo {
  margin-top: 10rem;
}
.titulos-catalogo .container-catalogo {
  width: 100%;
  background: #F8F2FC;
}
.titulos-catalogo .container-catalogo .wrap {
  margin-top: 1rem;
  padding: 5rem 3%;
}
.titulos-catalogo .container-catalogo .wrap .products-list .product-item {
  text-align: center;
  margin-bottom: 2rem;
}
.titulos-catalogo .container-catalogo .store-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.titulos-catalogo .container-catalogo .category_list {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.titulos-catalogo .container-catalogo .category_list p {
  font-size: 2.3rem;
  color: #444444;
  border-bottom: 1.2px solid #a44891;
  margin-bottom: 3rem;
  padding: 1rem 0;
  font-weight: 500;
}
.titulos-catalogo .container-catalogo .category_list a {
  font-size: 1.5rem;
  color: #444444;
}
.titulos-catalogo .container-catalogo .category_list .category_item {
  display: block;
  width: 90%;
  padding: 1px 0;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000000;
}
.titulos-catalogo .container-catalogo .category_list .ct_item-active {
  color: #e773af;
  font-size: 1.7rem;
}
.titulos-catalogo .container-catalogo .products-list {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}
.titulos-catalogo .container-catalogo .products-list .product-item {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}
.titulos-catalogo .container-catalogo .products-list .product-item .textos {
  margin-top: 1rem;
}
.titulos-catalogo .container-catalogo .products-list .product-item .textos span {
  font-size: 1.3rem;
  font-style: italic;
}
.titulos-catalogo .container-catalogo .products-list .product-item .textos p {
  font-size: 1.9rem;
  margin-top: 0.5rem;
}
.titulos-catalogo .container-catalogo .products-list .product-item .textos i {
  font-size: 2.2rem;
}
.titulos-catalogo .container-catalogo .products-list .product-item .span {
  color: #e773af;
  font-size: 1.9rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}
.titulos-catalogo .container-catalogo .products-list .product-item button {
  width: 100%;
  margin: 1rem 0 3rem 0;
  background: #000;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0.8rem 0;
  border-radius: 1rem;
  cursor: pointer;
}
.titulos-catalogo .container-catalogo .products-list .product-item button:hover {
  transform: scale(1.03);
}
.titulos-catalogo .container-catalogo .products-list .product-item img {
  width: 100%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}
.titulos-catalogo .container-catalogo .products-list .product-item img:hover {
  transform: scale(1.02);
}

.productos {
  margin-top: 8rem;
  width: 100%;
}
.productos .contenedor-productos {
  padding: 2rem 4% 2rem 4%;
  background: #F8F2FC;
}
.productos .contenedor-productos .items-imagenes {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productos .contenedor-productos .items-imagenes .contenedor {
  margin-bottom: 5rem;
  text-align: center;
}
.productos .contenedor-productos .items-imagenes .contenedor img {
  height: 32rem;
  width: 29rem;
  cursor: pointer;
  z-index: 3000;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.productos .contenedor-productos .items-imagenes .contenedor img:hover {
  transform: scale(1.02);
}
.productos .contenedor-productos .items-imagenes .contenedor .textos {
  margin-top: 1rem;
}
.productos .contenedor-productos .items-imagenes .contenedor .textos span {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.productos .contenedor-productos .items-imagenes .contenedor .textos p {
  font-size: 2.1rem;
  margin-top: 0.5rem;
}
.productos .contenedor-productos .items-imagenes .contenedor .textos i {
  font-size: 2.5rem;
}
.productos .contenedor-productos .items-imagenes .contenedor .span {
  color: #e773af;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.productos .contenedor-productos .items-imagenes .contenedor button {
  width: 100%;
  margin-top: 1rem;
  background: #000;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0.8rem 0;
  border-radius: 1rem;
  cursor: pointer;
}
.productos .contenedor-productos .items-imagenes .contenedor button:hover {
  transform: scale(1.03);
}

/* RESPONSIVE ================================ del jquery*/
@media screen and (max-width: 1100px) {
  .container-catalogo .wrap .store-wrapper .products-list .product-item {
    width: 30.3%;
  }
}
@media screen and (max-width: 900px) {
  .container-catalogo .wrap .store-wrapper .category_list, .store-wrapper .products-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .container-catalogo .wrap .store-wrapper .category_list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  .container-catalogo .wrap .store-wrapper .category_list .category_item {
    align-self: flex-start;
    width: 100%;
  }
  .container-catalogo .wrap .store-wrapper .products-list .product-item {
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .titulos-catalogo {
    margin-top: 12.5rem;
  }
  .productos .accesorios {
    margin-top: 10.5rem;
  }
}
@media screen and (max-width: 700px) {
  .container-catalogo .wrap .store-wrapper .category_list {
    flex-direction: column;
  }
  .container-catalogo .wrap .store-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .container-catalogo .wrap .store-wrapper .category_list {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
  }
  .container-catalogo .wrap .store-wrapper .category_list p {
    font-size: 2.3rem;
  }
  .container-catalogo .wrap .store-wrapper .category_list a {
    border-bottom: 0.1rem solid #e773af;
    padding: 1rem 0;
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .container-catalogo .wrap .store-wrapper .products-list {
    margin: 0 auto;
  }
  .container-catalogo .wrap .store-wrapper .products-list .product-item {
    width: 100%;
  }
  .container-catalogo .wrap .store-wrapper .products-list .product-item img {
    height: 40rem;
  }
}
@media (max-width: 1063px) {
  .titulos3 .fondo-categoria .categoria .contenedor-categoria {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titulos3 .fondo-categoria .categoria .contenedor-categoria img {
    height: 25rem;
    width: 55rem;
    margin-bottom: 2rem;
  }
  .titulos3 .fondo-categoria .categoria .texto-categoria {
    top: 46%;
    left: 50%;
  }
  .titulos3 .fondo-categoria .categoria .contenedor-categoria1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titulos3 .fondo-categoria .categoria .contenedor-categoria1 img {
    height: 25rem;
    width: 55rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .titulos .container-nosotros .textos-nosotros p {
    width: 90%;
  }
  .swiper-slide img {
    width: 25rem;
    height: 25rem;
  }
}
@media (max-width: 900px) {
  .titulos .container-nosotros {
    display: flex;
    flex-direction: column-reverse;
  }
  .titulos .container-nosotros .textos-nosotros {
    width: 100%;
  }
  .titulos .container-nosotros .textos-nosotros p {
    width: 60%;
    padding-bottom: 2rem;
  }
  .titulos .container-nosotros .imagen-nosotros {
    width: 100%;
  }
}
@media (max-width: 860px) {
  header .menu .menu__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
  }
  body .informacion .container-informacion {
    display: flex;
    flex-direction: column;
  }
  body .informacion .container-informacion .informacion-item {
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  header .menu .menu__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
  }
  .menu__container .menu__hamburguer {
    display: flex;
  }
  .menu__container .menu__hamburguer:hover {
    transform: rotate(180deg);
  }
  .menu__item {
    --clip:0;
    overflow: hidden;
  }
  .menu__item--active {
    --transform: rotate(0); /* rotamos la flecha en responsivo*/
    --background: #5e7094;
  }
  .menu__links {
    z-index: 10000;
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 100px;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%); /*mostrar ocultar menu hamburgueesa*/
  }
  .menu__links--show {
    transform: unset;
    width: 100%;
  }
  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu__nesting {
    display: grid;
    position: unset; /* lo regresa a su valor original, ya no esta posicionado absolutamente a su padre */
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }
  .menu__link--inside {
    width: 90%;
    margin-left: 3rem;
    border-left: 1px solid #e773af;
    font-size: 1.8rem;
  }
  .contactos .datos-contactos {
    padding: 2rem 6%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contactos .datos-contactos .contacto {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .informacion .container-informacion .informacion-item {
    width: 32%;
  }
  .titulos {
    padding: 3rem 0;
  }
  .titulos .container-nosotros .textos-nosotros p {
    width: 90%;
  }
  .titulos2 {
    padding: 0 0 2rem 0;
  }
  .titulos3 {
    padding: 0.2rem 0 2rem;
  }
  .titulos4 {
    padding: 0 3%;
  }
}
@media (max-width: 740px) {
  .swiper-slide img {
    width: 23rem;
    height: 23rem;
  }
}
@media (max-width: 700px) {
  .home {
    padding: 0;
  }
  .swiper2 .container__item__hover {
    height: 6rem;
  }
  .swiper2 .container__item__hover a {
    font-size: 1.3rem;
  }
  .home .swiper-wrapper .slide .content {
    width: 90%;
  }
  .titulos .contenedor-titulos .texto h2 {
    margin: 0 0 0.5rem 0;
  }
  .titulos4 .contenedor-siguenos .imagenes-siguenos img {
    height: 35rem;
    width: 35rem;
  }
  .titulos4 .contenedor-titulos .texto h2 {
    margin: 1rem 0 1rem 0;
  }
  .titulos4 .contenedor-siguenos {
    display: flex;
  }
  .titulos4 .contenedor-siguenos .items-siguenos {
    margin: 0.8rem 0;
  }
  .titulos4 .contenedor-siguenos .items-siguenos a {
    font-size: 2rem;
  }
  .footer .container-footer {
    flex-direction: column;
  }
  .footer .container-footer hr {
    width: 60%;
    margin-bottom: 1.5rem;
  }
  .footer .container-footer .logo h3 {
    font-size: 2.8rem;
  }
  .footer .container-footer .logo p {
    font-size: 1.8rem;
  }
  .footer .container-footer .links h3 {
    font-size: 2.8rem;
  }
  .footer .container-footer .links a {
    font-size: 1.8rem;
  }
  .footer .container-footer .horarios h3 {
    font-size: 2.8rem;
  }
  .footer .container-footer .horarios span {
    font-size: 1.8rem;
  }
  .footer .container-footer .contactanos h3 {
    font-size: 2.8rem;
  }
  .footer .container-footer .contactanos a {
    font-size: 1.8rem;
  }
  .footer .container-footer .logo {
    width: 100%;
  }
  .footer .container-footer .logo p {
    width: 70%;
  }
  .titulos2 .contenedor-titulos .texto h2 {
    font-size: 3rem;
  }
}
@media (max-width: 650px) {
  .swiper-slide img {
    width: 18rem;
    height: 18rem;
  }
  .titulos4 .contenedor-siguenos .imagenes-siguenos img {
    height: 21rem;
    width: 21rem;
  }
  .titulos .container-mision-vision .item-mision-vision {
    width: 48%;
  }
  .swiper2 .container__item__hover {
    width: 18rem;
  }
}
@media (max-width: 620px) {
  .productos .contenedor-productos .items-imagenes {
    padding: 0;
  }
  .productos .contenedor-productos .items-imagenes .contenedor {
    margin: 3rem auto;
  }
  .productos .contenedor-productos .items-imagenes .contenedor img {
    height: 37rem;
    width: 34rem;
  }
  .titulos .container-nosotros {
    padding: 0 6%;
  }
  .mision {
    margin: 0;
  }
}
@media (max-width: 550px) {
  .swiper2 .container__item__hover {
    height: 4.5rem;
  }
  .swiper2 .container__item__hover a {
    font-size: 1rem;
  }
  .swiper-slide img {
    width: 17rem;
    height: 17rem;
  }
  .titulos3 .fondo-categoria .categoria .contenedor-categoria img {
    height: 25rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .titulos3 .fondo-categoria .categoria .contenedor-categoria1 img {
    height: 25rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .titulos4 .imagen-light {
    display: flex;
  }
  .titulos4 .imagen-light .agregar-imagen {
    display: flex;
  }
}
@media (max-width: 500px) {
  header .menu .menu__container .logo {
    height: 9rem;
    width: 18rem;
  }
  .menu .menu__container .menu__links {
    top: 82px;
  }
  .titulos .container-nosotros .textos-nosotros p {
    width: 90%;
  }
  .titulos .container-mision-vision {
    display: flex;
    flex-direction: column;
  }
  .titulos .container-mision-vision .item-mision-vision {
    width: 100%;
  }
  .titulos .container-mision-vision .mision {
    margin: 0 0 1.5rem 0;
  }
  .swiper2 .container__item__hover {
    width: 17rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .menu .menu__container .menu__links {
    top: 75px;
  }
  .home .slide {
    min-height: 80vh;
    background-position: 55% 90% !important;
  }
  .informacion .container-informacion .informacion-item p {
    font-size: 1.7rem;
  }
  .titulos .container-nosotros img {
    margin-top: 0rem;
  }
  .titulos .container-nosotros .textos-nosotros p {
    width: 90%;
  }
  .titulos .container-nosotros .imagen-nosotros img {
    height: 38rem;
  }
  .swiper2 .container__item__hover {
    height: 4rem;
    width: 20rem;
  }
  .swiper2 .container__item__hover a {
    font-size: 1rem;
  }
  .swiper-slide img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 370px) {
  .swiper-slide img {
    width: 19rem;
    height: 19rem;
  }
  .titulos4 .contenedor-siguenos .imagenes-siguenos img {
    height: 22rem;
    width: 19rem;
  }
}/*# sourceMappingURL=style.css.map */